@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body{
  font-family:"Roboto Condensed", sans-serif; 
}
nav{
  z-index: 2;
}

.logo{
  width: 4.25rem;
  border-radius: 50%;
  display : flex;
  margin: 10px;
  padding : 2px;
  position:absolute;
  left:0;
  top:0;
}

nav a.nav-link{
  letter-spacing: 0.375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: #fff !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid #f9ab00;
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid #f9ab00;
}
/* header */
.header-wrapper{
  position: relative;
  background: url(code.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family:"Roboto Condensed", sans-serif;
  z-index: 1;
}
.main-info h1 {
  color: #f9ab00;
  text-transform: uppercase;

}
.typed-text{
  font-size: 2rem;
  color: #fff;
}
.btn-cv-show{
  border: 1px  solid #f9ab00;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.675rem 0.75rem 0.75rem 0.75rem;
  color: #fff;
  margin-top : 2rem;
}
.btn-cv-show:hover{
  text-decoration: none;
  transition: .2s ease-out;
}
/* about me */
.about-card-wrapper{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: lightgreen;
    margin: 40px;
    padding: 20px;
    border-radius: 18px;
    position: relative;
    background: url(service.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    z-index: 1;
  }

.about-card{
  width: 480px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform .5s;
    border-radius: 18px;
}
.circular--landscape {
  display: inline-block;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
}
.about-card h1 {
  font-family: 'ubuntu', sans-serif;
  font-size: 22px;
  color: #555;
  margin: 10px;

}
.job {
  font-family: 'montserrat',sans-serif;
  color: #777;
  font-weight: 300;
}

.about-me {
  font-family: 'josefin sans',sans-serif;
  font-size: 14px;
  width: 90%;
  margin: 15px 0;
  font-style: italic;
  color: #444;
  text-align: center;
}
.btn {
  width: 120px;
  padding: 7px;
  margin: 10px 0;
  text-align: center;
  background-color: brown;
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: 'josefin sans',sans-serif;
  color: #eee;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
}
.social-icons {
  width: 250px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 20px 0;
  border-top: 1px solid #999;
  padding-top: 20px;
}

.social-icons i {
  font-size: 21px;
}

.fa-linkedin{
  color: #0e76a8;
}

/* projects */
.intro, .about-me-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  margin: 20px auto;
}
.contact-intro{
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: 20px auto;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid white;
  width: 250px;
  margin: 20px auto;
}

.details {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-self: flex-start;
}
.image-container{
  display: flex;
  flex-direction: column;
  color: hsl(198, 85%, 55%);
  margin: 15px;
  width: 380px;
  height: 380px;
 
  border: 1px solid hsl(198, 85%, 55%);
  border-radius: 18px;
}
.project-image{
  width: 270px;
  height: 300px;
  padding: 0.5vh;
  border: 1px solid lightblue;
  border-radius: 20px;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.site-button, .code-button{
  width: 100px;
  height: 35px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  color: #eee;
  color: #fff;
  background: #37b9f1
}

.description {
  font-size: 16px;
  
}

.title {
  color: #000;
  font-size: 25px;
  font-weight: bolder;
  margin: 15px auto;
}

.button:hover {
  background-color: #364156;
  color: #d66853;
}

/* contact */
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  z-index: 1;
}
.form-control {
  border-radius: 0 !important;
  border: none !important;
}
::placeholder {
  color: #999 !important;
}
.follow {
  background: #fff;
  padding: 10px;
  margin: 15px;

}
.contact-info .fa {
  margin: 10px;
  color: #007bff;
  font-weight: bold;
}
/* footer */
#footer {
  position: fixed;
  background: #333;
  color: #fff;
  padding: 12px;
  bottom: 0;
  width: 100%;
  height: 45px;
  z-index: 1;
}
.fa-smile {
  margin: 3px;
  color: goldenrod;
}
@media(max-width: 1024px){
  .logo{
    display: none;
  }
  
  .circular--landscape {
  
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }
}
@media(max-width: 768px){
  
  .main-info h1{
    font-size: 1rem im !important;
  }
  .typed-text{
    font-size: 1.7rem !important;
  }
  .logo{
    width: 2.75rem;
    border-radius: 50%;
    margin: 5px;
  }
  .about-card-wrapper{
    left: 50%;
    margin: 10px;
    padding: 60px;
    height: 75vh;
    z-index: 1;
  }
  #footer{
    display: none;
  }

.about-card{
  width: 480px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform .5s;
    border-radius: 18px;
}
.circular--landscape {
  
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.about-card h1 {
  font-family: 'ubuntu', sans-serif;
  font-size: 18px;
  color: #555;
  margin: 10px;

}
.job {
  font-family: 'montserrat',sans-serif;
  font-weight: 300;
}

}